@model IList<Disco2.Models.RecordModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("ExportToExcel", "Record", FormMethod.Post))
{

    <br />
    <br />
    <h2>
        Участники
    </h2>
    <table style="background-color: white; width: 100%;">
        <tr>
            <th style="border: 1px solid black; text-align: left; width: 20%; padding-left: 20px;">
               Фамилия
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                Имя
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                Отчество
            </th>
            <th style="border: 2px solid black; text-align: center; width: 20%">
                Гражданство
            </th>
          
        </tr>
        @foreach (var itm in Model)
        {

    <tr>
        <td style="padding-left: 20px;">
            @Html.DisplayFor(m => itm.Фамилия)
        </td>
        <td style="padding-left: 20px;">
            @Html.DisplayFor(m => itm.Имя)
        </td>
        <td style="padding-left: 20px;">
            @Html.DisplayFor(m => itm.Отчество)
        </td>
        <td style="padding-left: 20px;">
            @Html.DisplayFor(m => itm.Гражданство)
        </td>

    </tr>

        }

        <tr>
            <td colspan="4">
                <br />
                <br />
                <input type="submit" value="Export to Excel" class="button" />
            </td>
        </tr>
    </table>
}
